.level-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  .table__doThis {
    color: rgba(255,255,255,.3);
    font-size: 4.5rem;
    margin: 0;
    font-weight: 400;
    text-align: center;
    padding: 2rem 3rem;
  }

  .table__note {
    padding: 2rem;
    width: 60rem;
    color: #777;
    background: rgba(255,255,255,.9);
    text-align: left;
    margin: 2rem auto 2rem auto;
    box-shadow: 0 0 1.5rem rgba(0,0,0,.5);
    display: none;
    //display: block;

    h3 {
      color: #444;
      margin: 0 0 0.5rem 0;
    }

    p {
      margin: 1.6rem 0;
    }

    h4 {
      font-size: 1.5rem;
      margin: 0 0 0.5rem 0;
    }

    pre {
      background: #DDD;
      padding: 1rem;
      font-family: menlo, monospace;
      font-size: 1.4rem;
    }
  }

  .table__note-toggle {
    background: rgba(0,0,0,.2);
    color: rgba(255,255,255,.3);
    padding: 0.8rem 1.5rem 1rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    display: inline-block;

    &:hover {
      text-decoration: underline;
      color: rgba(255,255,255,.4);
    }

    &_inner {
      color: #1b6f9b;
      background: rgba(27,111,155,.1);
      font-weight: bold;

      &:hover {
        color: #1b6f9b;
        background: rgba(27,111,155,.15);
      }
    }


  }
}
