@import "./view/appView";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: #2e2a23;
  height: 100vh;
  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, .7);
  font-size: 1.4rem;
  overflow: hidden;
}

.wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.main {
  overflow-y: auto;
  width: 100%;
}

.aside {
  flex-shrink: 0;
  position: sticky;
  width: 30rem;
  top: 0;
  right: 0;
  background: #221e18;
  height: 100%;
}

.footer {
  grid-area: footer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

// scrollbar
*::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #1e1e1e;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
}
