@import "./view/appView";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #2e2a23;
  height: 100vh;
  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
  color: rgba(255,255,255,.3);;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-areas: "header levels"
  "table levels"
  "editor levels"
  "footer levels";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px 1fr 2fr 120px;
}

.header {
  grid-area: header;
}

.table {
  grid-area: table;
  background: blue;
}

.editor {
  grid-area: editor;
  background: dodgerblue;
}

.levels {
  grid-area: levels;
  background: deeppink;
}

.footer {
  grid-area: footer;
  background: midnightblue;
}

h1 {
  font-size: 1.6rem;
}
