@import "./view/appView";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: #2e2a23;
  height: 100vh;
  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, .7);
  font-size: 1.4rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-areas: "header aside"
  "table aside"
  "editor aside"
  "footer aside";
  grid-template-columns: 3fr 30rem;
  grid-template-rows: auto 1fr 2fr auto;
  overflow-y: auto;
}

.header {
  grid-area: header;
}

.table {
  grid-area: table;
  background: blue;
}

.editor {
  grid-area: editor;
  background: dodgerblue;
}

.aside {
  grid-area: aside;
  position: fixed;
  width: 30rem;
  top: 0;
  right: 0;
  background: #221e18;
  height: 100%;
}

.footer {
  grid-area: footer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}



/// Burger

%menu-line {
  display: inline-block;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: #777777;
}

.menu {
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
  width: 2.3rem;
  height: 1.8rem;
  transition: all ease-in 0.3s;
  cursor: pointer;
  z-index: 10;

  &:before {
    @extend %menu-line;
    top: 0;
  }

  &:after {
    @extend %menu-line;
    bottom: 0;
  }

  .menu-line {
    @extend %menu-line;
    top: calc(50% - 1px);
  }

  &_active {
    transform: rotate(90deg);

    &:after, &:before, .menu-line {
      background: #FFF;
    }
  }
}

