.rules {
  background: #221e18;
  padding: 2rem;
  height: 100%;
}

.rules__header {
  font-size: 2.5rem;
  padding: 0 0 1rem 0;
  color: #777;

  .checkmark {
    position: relative;
    display: inline-block;
    margin-left: 0.8rem;
    width: 1.2rem;
    height: 2rem;
    border: solid white;
    border-width: 0 0.4rem 0.4rem 0;
    opacity: .2;
    top: -0.3rem;
    transform: rotate(40deg);
  }

  &_completed-self .checkmark {
    opacity: .7;
    border: solid #4cbb4a;
    border-width: 0 0.4rem 0.4rem 0;
  }

  &_completed-hint .checkmark {
    opacity: .7;
    border: solid #efff40;
    border-width: 0 0.4rem 0.4rem 0;
  }
}

.rules__content {
  font-size: 1.5rem;
  margin: 3rem auto 0 auto;
  color: rgba(255, 255, 255, .6);

  strong {
    color: #AAA;
    background: rgba(255,255,255,.1);
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    margin: 0 0.2rem;
    font-size: 1.3rem;
    font-family: menlo,monospace;
    font-weight: normal;
  }

  .selector-name {
    font-size: 1.8rem;
    margin: 0 0 0.4rem 0;
  }

  .title {
    font-size: 1.8rem;
    margin: 0 0 1.5rem 0;
    font-weight: 300;
    opacity: .7;
  }

  .syntax {
    font-size: 2.4rem;
    font-weight: 200;
    opacity: .8;
    margin-bottom: 1.8rem;
    background: rgba(255, 255, 255, .05);
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border-bottom: solid 0.2rem rgba(255, 255, 255, .1);
  }

  .hint {
    color: #888;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 150%;
  }

  .examples-title {
    margin: 4.5rem 0 1rem 0;
  }

  .example {
    border-bottom: solid 0.1rem rgba(255, 255, 255, .1);
    padding: 1rem 0 1.2rem 0;
    line-height: 170%;
    color: #888;
    font-size: 1.5rem;

    strong {
      margin-left: 0;
    }
  }

  tag {
    color: #AAA;
    background: rgba(255, 255, 255, .1);
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    margin: 0 2px;
    font-size: 1.3rem;
    font-family: menlo, monospace;
    font-weight: normal;

    &:before {
      content: "<";
    }

    &:after {
      content: ">";
    }
  }
}

.level-nav {
  position: absolute;
  right: 6rem;
  top: 2rem;
  line-height: 0;

  & > a {
    padding: 0.5rem;
    position: relative;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    opacity: .25;
    cursor: pointer;
    user-select: none;

    &:after {
      content: "";
      height: 1.8rem;
      width: 1.8rem;
      position: absolute;
      border: solid white;
      border-width: 0.2rem 0.2rem 0 0;
      transform-origin: center center;
      top: 0.6rem;
      box-sizing: border-box;
    }

    &:hover {
      opacity: .4;
    }
  }

  .prev:after {
    transform: rotate(-135deg);
    right: 0.2rem;
  }

  .next:after {
    transform: rotate(45deg);
    left: 0.2rem;
  }
}


