.rules {
  padding: 2rem;
  width: 100%;
  position: relative;
  z-index: 2;
  transition: all 0.3s;

  &_opened {
    .rules__content {
      height: 100%;
    }
  }
}

.content-rules {
  display: none;
}

.rules__header {
  font-size: 2.5rem;
  padding: 0 0 1rem 3rem;
  position: relative;
  color: #777;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;

  &:before {
    content: "";
    height: 1.8rem;
    width: 1.8rem;
    left: 0.3rem;
    top: 0.2rem;
    position: absolute;
    opacity: 0.6;
    border: solid white;
    border-width: 0.2rem 0.2rem 0 0;
    transform-origin: center center;
    box-sizing: border-box;
    transform: rotate(-226deg);
    cursor: pointer;
    transition: all 0.3s;
  }

  &_opened {
    &:before {
      top: 1.2rem;
      transform: rotate(-47deg);
    }
  }

  &:hover {
    color: #ffed63;
    &:before {
      border: solid #ffed63;
      border-width: 0.2rem 0.2rem 0 0;
    }
  }

  .checkmark {
    position: relative;
    display: inline-block;
    margin-left: 0.8rem;
    width: 1.2rem;
    height: 2rem;
    border: solid white;
    border-width: 0 0.4rem 0.4rem 0;
    opacity: .2;
    top: -0.3rem;
    transform: rotate(40deg);
  }

  &_completed-self .checkmark {
    opacity: .7;
    border: solid #4cbb4a;
    border-width: 0 0.4rem 0.4rem 0;
  }

  &_completed-hint .checkmark {
    opacity: .7;
    border: solid #efff40;
    border-width: 0 0.4rem 0.4rem 0;
  }
}

.rules__content {
  font-size: 1.5rem;
  margin: 0 auto;
  color: rgba(255, 255, 255, .6);
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;

  strong {
    color: #AAA;
    background: rgba(255, 255, 255, .1);
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    margin: 0 0.2rem;
    font-size: 1.3rem;
    font-family: menlo, monospace;
    font-weight: normal;
  }

  .selector-name {
    font-size: 1.8rem;
    margin: 0 0 0.4rem 0;
  }

  .title {
    font-size: 1.8rem;
    margin: 0 0 1.5rem 0;
    font-weight: 300;
    opacity: .7;
  }

  .syntax {
    font-size: 2.4rem;
    font-weight: 200;
    opacity: .8;
    margin-bottom: 1.8rem;
    background: rgba(255, 255, 255, .05);
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border-bottom: solid 0.2rem rgba(255, 255, 255, .1);
  }

  .hint {
    color: #888;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 150%;
  }

  .examples-title {
    margin: 4.5rem 0 1rem 0;
  }

  .example {
    border-bottom: solid 0.1rem rgba(255, 255, 255, .1);
    padding: 1rem 0 1.2rem 0;
    line-height: 170%;
    color: #888;
    font-size: 1.5rem;

    strong {
      margin-left: 0;
    }
  }

  tag {
    color: #AAA;
    background: rgba(255, 255, 255, .1);
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    margin: 0 2px;
    font-size: 1.3rem;
    font-family: menlo, monospace;
    font-weight: normal;

    &:before {
      content: "<";
    }

    &:after {
      content: ">";
    }
  }
}

.level-nav {
  position: absolute;
  right: 2rem;
  top: 2rem;
  line-height: 0;

  & > a {
    padding: 0.5rem;
    position: relative;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    opacity: .25;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;

    &:after {
      content: "";
      height: 1.8rem;
      width: 1.8rem;
      position: absolute;
      border: solid white;
      border-width: 0.2rem 0.2rem 0 0;
      transform-origin: center center;
      top: 0.6rem;
      box-sizing: border-box;
    }

    &:hover {
      opacity: 1;
      &:after,
      &:before {
        border: solid rgba(222, 228, 133, 1);;
        border-width: 0.2rem 0.2rem 0 0;
      }
    }
  }

  .prev:after {
    transform: rotate(-135deg);
    right: 0.2rem;
  }

  .next:after {
    transform: rotate(45deg);
    left: 0.2rem;
  }
}

@media (min-width: 1000px) {
  .header-rules {
    display: none;
  }

  .content-rules {
    display: block;
    min-width: 305px;
    max-width: 400px;
    width: min-content;
    flex-grow: 2;
  }

  .rules__content {
    height: 100%;
  }

  .rules__header {
    padding: 1rem;
    opacity: 0.9;

    &:before {
      display: none;
    }
  }
}


